<h1> This is the Show Action Page Via the Users Controller (./users) </h1>

<h3> The following information exists in the database for User_id: <%= params[:id] %></h3>

<%= render "user", user: @user %>
<%= render "post", user: @user %>
